<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="demo_db_viz.Properties.Settings.cs" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Paw_25;Integrated Security=True;Encrypt=False"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>